html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
span,
p,
li,
a,
button,
input {
  font-family: "Roboto", sans-serif;
}

.navbar {
  transition: 0.5s;
}

.navbar .navbar-brand img {
  width: 2em;
}

.carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.card {
  height: 28em;
}

.card img {
  height: 12em;
}
